body {
  background-color: #f8f3ef;
  color: #3e2c23;
  font-family: 'Segoe UI', sans-serif;
}
.navbar {
  background-color: #6f4e37;
}
.navbar-brand, .nav-link {
  color: #fff !important;
  font-weight: bold;
}
.hero {
  font-family:'Times New Roman', Times, serif;
  background-image: url('cookies.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 60px 20px;
  text-align: center;
  color: rgb(0, 0, 0);
}
.cookie {
  width: 100%;
  height: auto; 
}
.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}
.menu-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 15px;
  margin-bottom: 15px;
}
footer {
  background-color: #6f4e37;
  color: rgba(212, 212, 212, 1);
  padding: 20px 10px;
  text-align: center;
  margin-top: 40px;
}

